<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <p><%- include("siteName.ejs") %> provides you an opportunity to convert your dreams into reality.
                           Our 24/7 online customer support, our reliable and easy accessible web interface have made customer services better. We inspire confidence in finance. Stay with us. </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Quick Links</h6>
                        </div>
                        <nav>
                            <ul class="useful-links d-flex justify-content-between flex-wrap">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About us</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/fees">Fees</a></li>
                                <li><a href="/privacy">Privacy policy</a></li>
                                <li><a href="/terms">Terms and conditions</a></li>
                                <li><a href="/"><i class="icon fa fa-whatsapp"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">
                    <p>
                        Copyright &copy;<%= new Date().getFullYear() %> All rights reserved | <%- include("siteUrl.ejs") %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
  var toggler = document.querySelector('.classy-navbar-toggler');
  var menu = document.querySelector('.classy-menu');
  var closeIcon = document.querySelector('.classycloseIcon');

  toggler.addEventListener('click', function() {
    menu.classList.toggle('show');
  });

  closeIcon.addEventListener('click', function() {
    menu.classList.remove('show');
  });
});

</script>