<section class="cryptos-about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-thumbnail mb-100">
                    <img src="img/blog-img/stock-exchange-trading-forex-finance-graphic-concept.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-content mb-100">
                    <div class="section-heading">
                        <h3>Let’s change <br><span>the world</span> together</h3>
                        <h5><%- include('partials/siteName') %> is a regulated and secure online broker with over 10 years of market experience. We enable crypto traders worldwide to invest in over 750 financial instruments while benefiting from excellent trading Conditions and a wide variety of special offers. </h5>
                        <p>Our trading platforms, Our proprietary trading platforms for mobile and web are equipped with innovative trading tools and allow traders to instantly access the world's financial markets, day or night. Clients can access live charts, choose from dozens of market indicators. Traders success is our top priority and our goal is to make cryptocurrencies trading profitable for every single one of our traders. .</p>
                        <a href="/about" class="btn cryptos-btn mt-30">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>