<div class="cryptos-feature-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <h3>Let’s change <br><span>the world</span> together</h3>
                        <p>Our mission as an official partner of Crypto Foundation is to help you enter and better understand the world of cryptocurrency's and avoid any issues you may encounter.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-safebox"></i>
                        <h3>EXCELLENT CHOICES</h3>
                        <p>We offer plans that will suit your budget, we have made this for all our clients to have sustainable investments and invest happily. </p>
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area active mb-100 text-center">
                        <i class="icon-bitcoin"></i>
                        <h3>Award-winning platform</h3>
                        <p>Award-winning software recognized and praised by the most respected experts of the industry.</p>
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-exchange"></i>
                        <h3>MONEY-BACK GUARANTEE</h3>
                        <p>You have our full support on getting back your money for reason being made no matter what.</p>
                    </div>
                </div>

                <!-- Single Course Area -->
               <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-wallet"></i>
                        <h3>Profitable Investments</h3>
                        <p>At <%- include('partials/siteName') %> , our investment plans are calculated with the best intrest of the investor, giving you the best your money can offer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>