<section class="hero-area">
    <div id="carouselFade" class=" hero-slides slide carousel-fade">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="single-hero-slide">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-7">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Take a step into the <span>Crypto World</span></h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">A place for everyone who wants to simply buy and stake Crypto Currencies. Deposit funds using over 10 crypto currencies from any wallet..</h6>
                                <a href="/about" class="btn cryptos-btn" data-animation="fadeInUp" data-delay="700ms">Read More</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="hero-slides-thumb" data-animation="fadeInUp" data-delay="1000ms">
                                <img src="img/bg-img/feeling-shockedlaughing-celebrating-success.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-hero-slide">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-7">
                            <div class="hero-slides-thumb">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Crypto Currency Exchange You can <span> Trust</span></h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Award-winning software recognized and praised by the most respected experts of the industry.</h6>
                                <a href="/about" class="btn cryptos-btn" data-animation="fadeInUp" data-delay="700ms">Read More</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="hero-slides-thumb" data-animation="fadeInUp" data-delay="1000ms">
                                <img src="img/bg-img/feeling-shockedlaughing-celebrating-success.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>