<div class="wrapper m-0 w-100 p-0">
<div class="col-12 col-lg-12 m-0 p-0">
    <div class="card mx-auto w-100 h-25  text-white  m-0 p-0" style="overflow-y:hidden; background:#28408b">
        <div class="card-header text-white" ><h3 style="color:white;">Latest Withdrawals</h3></div>
        <div class="card-body">
            <marquee direction="up">
            <div class="table-responsive" style="overflow-y:auto; overflow-x:fixed;">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><span class="badge badge-warning rounded">Success</span></td>
                            <td>$35000</td>
                            <td>0x3b21a418a4*************7aa8d26</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$48000</td>
                            <td>4ed88afacefe*************5611b21a</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Pending</span></td>
                            <td>$20000</td>
                            <td>acefe726611*************8d4ed8b5af</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$60000</td>
                            <td>0ce7aa8d4e*************26b5611b21a41</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$64000</td>
                            <td>0x8b561a418a4*************118facefb2</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Success</span></td>
                            <td>$10000</td>
                            <td>0xed8b5611418*************68facefb21a</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$27000</td>
                            <td>0xcadc56118fac*************aa8d264ed8</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$16000</td>
                            <td>d8b5a418a*************d266118facb21</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$17000</td>
                            <td>bxc21a418a44*************cefe7aa8d26</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </marquee>
        </div>
        
    </div>
</div>

<div class="col-12 col-lg-12  m-0 p-0">
    <div class="card mx-auto w-100 h-25  text-white  m-0 p-0" style="overflow-y:hidden; background:#28408b">
        <div class="card-header text-white" ><h3 style="color:white;">Latest Deposits</h3></div>
        <div class="card-body">
            <marquee direction="up">
            <div class="table-responsive" style="overflow-y:auto; overflow-x:fixed;">
                <table class="table">
                    <tbody>
                        
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$41000</td>
                            <td>6e9d53a2*************134991df29</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$10000</td>
                            <td>c2402fd49*************13496e9d53a</td>
                        </tr>
                            <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$15000</td>
                            <td>66c13496e*************9bbe91df29</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$19000</td>
                            <td>496e9d53*************91df29fd46</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$34000</td>
                            <td>9666c13424*************2e9d53a9</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">warning</span></td>
                            <td>$79000</td>
                            <td>496e66c*************f29d2fd49b</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$17000</td>
                            <td>fd49bbe91*************e9d53a2402</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </marquee>
        </div>
        
    </div>
</div>
</div>