<div class="wrapper m-0 w-100 p-0">
<div class="col-12 col-lg-12 m-0 p-0">
    <div class="card mx-auto w-100 h-25  text-white  m-0 p-0" style="overflow-y:hidden; background:#28408b">
        <div class="card-header text-white" ><h3 style="color:white;">Latest Withdrawals</h3></div>
        <div class="card-body">
            <marquee direction="up">
            <div class="table-responsive" style="overflow-y:auto; overflow-x:fixed;">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><span class="badge badge-warning rounded">Success</span></td>
                            <td>$35000</td>
                            <td>b21a418a44ed8b56118facefe7aa8d26</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$48000</td>
                            <td>4ed88a48facefe7aa8d26b5611b21a41</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Pending</span></td>
                            <td>$20000</td>
                            <td>acefe726611b21a418aa8d4ed8b5a48f</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$60000</td>
                            <td>e7aa8d4ed8cef8a48fa26b5611b21a41</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$64000</td>
                            <td>8b561a418a44ede7aa8d26118facefb2</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Success</span></td>
                            <td>$101000</td>
                            <td>ed8b5611418a44e7aa8d268facefb21a</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$27000</td>
                            <td>b56118facefeb21a418a47aa8d264ed8</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$16000</td>
                            <td>d8b5a418a44eefe7aa8d266118facb21</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$17000</td>
                            <td>b21a418a44ed8b56118facefe7aa8d26</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </marquee>
        </div>
        
    </div>
</div>

<div class="col-12 col-lg-12  m-0 p-0">
    <div class="card mx-auto w-100 h-25  text-white  m-0 p-0" style="overflow-y:hidden; background:#28408b">
        <div class="card-header text-white" ><h3 style="color:white;">Latest Deposits</h3></div>
        <div class="card-body">
            <marquee direction="up">
            <div class="table-responsive" style="overflow-y:auto; overflow-x:fixed;">
                <table class="table">
                    <tbody>
                        
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$41000</td>
                            <td>6e9d53a2402fd49bbe66c134991df29</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$10000</td>
                            <td>c2402fd49bbe91df2966c13496e9d53a</td>
                        </tr>
                            <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$15000</td>
                            <td>66c13496e9d53a2402fd49bbe91df29</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">Pending</span></td>
                            <td>$19000</td>
                            <td>496e9d53a24026c1366c134969bbe91df29fd46</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$34000</td>
                            <td>9666c1342402fd49bbe91df2e9d53a9</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-warning rounded">warning</span></td>
                            <td>$79000</td>
                            <td>496e66c139be953a2401df29d2fd49b</td>
                        </tr>
                        <tr>
                            <td><span class="badge badge-success rounded">Success</span></td>
                            <td>$17000</td>
                            <td>fd49bbe91df2966c13496e9d53a2402</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </marquee>
        </div>
        
    </div>
</div>
</div>