<div id="plans2" class="plans2">
<br>
<center><h2>Real Estate plans</h2></center>
<br>

<center>
<div class="plan2">
    <h3 class="plan-title">BRONZE</h3>
    <p class="plan-price">$5000 <span class="plan-unit">MAX: <b class="upwards">$49,999</b></span></p>
    <ul class="plan-features">
    <li class="plan-feature">25<span class="plan-feature-unit">%</span> <span class="plan-feature-name"><br>ROI/Monthly</span></li>
    <li class="plan-feature">6 months <span class="plan-feature-name"><br>Duration</span></li>
    <li class="plan-feature">5<span class="plan-feature-unit">%</span><span class="plan-feature-name"><br>Referral_commission</span></li>
    <li class="plan-feature">0<span class="plan-feature-unit">%</span><br> <span class="plan-feature-name">withdrawal fee</span></li>
    </ul>
    <a href="/register" class="plan-button">Choose Plan</a>
</div>
<div class="plan2">
    <h3 class="plan-title">SILVER</h3>
    <p class="plan-price">$50,000 <span class="plan-unit">MAX: <b class="upwards">$99,999</b></span></p>
    <ul class="plan-features">
    <li class="plan-feature">35<span class="plan-feature-unit">%</span> <span class="plan-feature-name"><br>ROI/Monthly</span></li>
    <li class="plan-feature">9 months <span class="plan-feature-name"><br>Duration</span></li>
    <li class="plan-feature">5<span class="plan-feature-unit">%</span><span class="plan-feature-name"><br>Referral_commission</span></li>
    <li class="plan-feature">0<span class="plan-feature-unit">%</span><br> <span class="plan-feature-name">withdrawal fee</span></li>
    </ul>
    <a href="/register" class="plan-button">Choose Plan</a>
</div>
<div class="plan2">
    <h3 class="plan-title">GOLD</h3>
    <p class="plan-price">$100,000 <span class="plan-unit">MAX: <b class="upwards">$999,999</b></span></p>
    <ul class="plan-features">
    <li class="plan-feature">49<span class="plan-feature-unit">%</span> <span class="plan-feature-name"><br>ROI/Monthly</span></li>
    <li class="plan-feature">1 Year <span class="plan-feature-name"><br>Duration</span></li>
    <li class="plan-feature">7.5<span class="plan-feature-unit">%</span><span class="plan-feature-name"><br>Referral_commission</span></li>
    <li class="plan-feature">0<span class="plan-feature-unit">%</span><br> <span class="plan-feature-name">withdrawal fee</span></li>
    </ul>
    <a href="/register" class="plan-button">Choose Plan</a>
</div>
<div class="plan2">
    <h3 class="plan-title">DIAMOND</h3>
    <p class="plan-price">$1,000,000 <span class="plan-unit">MAX: <b class="upwards">UNLIMITED!</b></span></p>
    <ul class="plan-features">
    <li class="plan-feature">65<span class="plan-feature-unit">%</span> <span class="plan-feature-name"><br>ROI/Daily</span></li>
    <li class="plan-feature">2 Years <span class="plan-feature-name"><br>Duration</span></li>
    <li class="plan-feature">10<span class="plan-feature-unit">%</span><span class="plan-feature-name"><br>Referal_commission</span></li>
    <li class="plan-feature">0<span class="plan-feature-unit">%</span><br> <span class="plan-feature-name">withdrawal fee</span></li>
    </ul>
    <a href="/register" class="plan-button">Choose Plan</a>
</div> 
</center>
<br>

</div>