<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title><%- include("partials/siteName") %></title>

    <!-- Favicon -->
<%- include("partials/csshead") %>
 
 



</head>
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
    .goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }
#google_translate_element{
        position:fixed;
        bottom:10px;
        left:10px;
        z-index:1000;
    }
</style>
<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p>Welcome to <span><%- include("partials/siteName")%></span></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a href="/login">Login | Register</a>
                                <a href="/about" class="active">Earn Money</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/about">About Us</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/login">Login</a></li>
                                            <li><a href="/register">Register</a></li>
                                           
                                                </ul>
                                            </li>
                                  <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                
                                        </ul>
                                    
                                   
                                   

                                <!-- Newsletter Form -->
                                <div class="header-newsletter-form">
                                    <form action="#" method="post">
                                        <input type="email" name="email" id="email" placeholder="Newsletter">
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <h2>Terms of use</h2>
        <div class="col-10 mx-auto">
            
            <div class="card w-100 mx-auto h-100">
                <div class="card-header">
                    CLIENT ACCOUNT
                </div>
                <div class="card-body">
                  <p>The client is obliged to comply with the laws on combating money laundering and terrorist financing.</p>

<p>The client is responsible for maintaining the confidentiality of account information. Also, the client is responsible for all actions and all operations that occur in his account. It is the responsibility of the client to immediately notify the Site of any unauthorized use of his account or password or any other breach of security. The client is responsible for losses incurred by the Site or any other user of the Site due to the actions of a third party who gained access and used the account or password of the Client. It is allowed to use only the Client’s own account. The Site has the right to stop servicing the Client if the Client tries to gain unauthorized access to the Site or tries to do so or assists other Clients or third parties in this (including distributing instructions, software, and tools for this purpose). Termination of Client service includes the loss of all funds in the account. In addition, in case of termination of the Client’s service, the Site reserves the right to take any other actions against the Client.</p>
<p>
At any time, the Client may have only one account and may not use or create any other accounts, except for his own. Multiple registrations are prohibited and the accounts of the same Client will be blocked without warning and notification. The site reserves the right to unilaterally refuse to provide services to the Client without paying account balances in case of violation of this rule.</p>
<p>
Claims for all financial transactions may be accepted for consideration no later than 30 days from the date of any financial transaction. After the expiration of this period, no claims are accepted.</p>
<p>
The site saves information about all incoming and outgoing transactions, as well as funds movement inside the account only for the last 30 days. In order to reduce the load on the server, older information will be deleted without notice.</p>

<p>The Client agrees and acknowledges that in order to ensure maximum security for the accounts and to counter the legalization and money laundering of illegally obtained funds, as well as within the internal security policy of the Site, the site uses internal control programs. Any information on material facts regarding Clients and their transactions is collected and stored. This applies to any information: IP address, information about the operating system used by the Client, its software, and other information that will be collected via cookies (“cookies”).</p>

<p>Client Accounts may be used solely for the purposes that are defined in these Terms and do not contradict them.</p>
                </div>
            </div>
                
            
        </div>
        
        
        
        
        <div class="col-10 mx-auto">
            
            <div class="card w-100 mx-auto h-100">
                <div class="card-header">
                    FUNDS DEPOSIT AND WITHDRAW
                </div>
                <div class="card-body">
                  <p>Funds are considered lost and are not subject to compensation or refund if during the replenishment the Client violated the rules specified in the forms for replenishing each currency. Funds sent to incorrect details, including non-existent or non-valid addresses indicated by the Client, as well as requests for withdrawal executed by the Client in violation of the rules specified in the withdrawal forms, are considered lost and are not refundable or compensable.</p>
                </div>
            </div>
                
            
        </div>
        
        
        <div class="col-10 mx-auto">
            
            <div class="card w-100 mx-auto h-100">
                <div class="card-header">
                    SITE RESPONSIBILITIES
                </div>
                <div class="card-body">
                  <p>The Website declares and warrants that all reasonable measures will be used to ensure the security of the Clients' personal data, and all money and all cryptocurrencies deposited by the Customer into his account will be stored by the Website on his behalf, according to the data specified in the profile.</p>
                </div>
            </div>
                
            
        </div>
        
        
        <div class="col-10 mx-auto">
            
            <div class="card w-100 mx-auto h-100">
                <div class="card-header">
                    USER RESPONSIBILITIES
                </div>
                <div class="card-body">
                  <p>The client agrees to use the Site only to perform operations in accordance with the conditions set forth in these Terms.</p>

<p>The client agrees not to use the Site to carry out any illegal activities, including, but not limited to, money laundering, terrorist financing, or other actions that could adversely affect the Site efficiency .</p>

<p>The client is obligated to independently monitor the news of the Site in order to obtain timely information about all changes in the operation of the Site, and if he did not read the information in a timely manner, he will not make claims to the Site because of the losses incurred due to this.</p>

<p>The client agrees not to disclose information received during communication with the Site Support. Violation of this rule leads to immediate blocking of the account without refunds.</p>

<p>The client agrees that his possible complaints and questions posted on forums, social networks, or elsewhere, except for an official request in the feedback form, will not be considered.</p>

<p>The client guarantees that he is the sole legal owner and has the right to dispose of all money and cryptocurrencies in his account. The use of these funds must not violate the rights of any third parties or the current legislation.</p>

<p>The client agrees to reimburse the Site for all possible losses incurred in case of violation of the rights of third parties or applicable law by the client's fault.</p>
                </div>
            </div>
                
            
        </div>
        
    </section>
    
    
    <%- include("partials/footer") %>
    <!-- ##### Footer Area Start ##### -->

        <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script src=js/testimonial.js></script>

</body>