<div class="container-test">

<br>
<br>
<h1 class="Testimonial-head">What our clients say about us</h1>

<section id="testim" class="testim">
        <div class="testim-cover">
            <div class="wrap">

            <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
            <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                
                <div id="testim-content" class="cont">
                    
                    <div class="active">
                        <div class="img"><img src="css/images/testimonial.jpg"te alt=""></div>
                        <h2>Miss laurell howard</h2>
                        <p>Had a few doubts about this but it’s in the past now you can try it out too I contacted live support and they replied me immediately so it’s fast I can recommend.</p>                    
                    </div>

                    <div>
                        <div class="img"><img src="css/images/testimonial2.jpg" alt=""></div>
                        <h2>Sofia Montes</h2>
                        <p>I’ve not seen this anywhere but I guess it was worth my search thanks coinmarketinc.com for sharing good ideas to earn good profits off the crypto market looking forward to a long term partnership with you guys.</p>                    
                    </div>

                    <div>
                        <div class="img"><img src="css/images/testimonial3.jpg" alt=""></div>
                        <h2>Abyasa Adika</h2>
                        <p>I’m from Indonesia and i am so happy when i received my profit of $2000 to my bitcoin account, well Coinmarketinc is a great platform they have been legit from the beginning #muchlove</p>                    
                    </div>

                    <div>
                        <div class="img"><img src="css/images/testimonial4.jpg" alt=""></div>
                        <h2>Jonathan Holmes</h2>
                        <p>Had a few doubts about this but it’s in the past now you can try it out too I contacted them and they replied me immediately, it’s so fast I can recommend.</p>                    
                    </div>

                    <div>
                        <div class="img"><img src="css/images/testimonial5.jpg" alt=""></div>
                        <h2>Robert Greenstone</h2>
                        <p>I’m still kinda new to this platform and I’ve been on this for 4 months and so far I can say that they’re reliable I still recommend you join this platform anyways.</p>                    
                    </div>

                </div>

            
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li>
                </ul>
            
            
            </div>
        </div>
    
</section>
</div>